.page {
    display: flex;
    flex-direction: column;
}

.loading {
    text-align: center;
    font-size: 160%;
}

.title {
    font-family: 'Open Sans - Bold';
    font-size: 40px;
    padding: 4% 6% 1% 6%;
}

.list {
    padding: 0 6% 4% 6%;
}

.pagination {
    display: flex;
    flex-direction: row;
    margin: auto auto 4% auto;
}

.back-btn, .back-btnDisabled, .next-btn, .next-btnDisabled {
    background: none;
    outline:none;
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10px;
}

.back-btn, .back-btnDisabled {
    background-image: url('./../../Assets/Images/arrow-left.png');
}

.next-btn, .next-btnDisabled {
    background-image: url('./../../Assets/Images/arrow-right.png');
}

.back-btn, .next-btn {
    cursor: pointer;
}

.back-btnDisabled, .next-btnDisabled {
    background-color: rgb(201, 201, 201);
    cursor: default;
}

.pageNumber {
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 6px 15px;
}